@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://css.gg/facebook.css');
@import url('https://css.gg/instagram.css');
@import url('https://css.gg/twitter.css');

/* ESTILIZAÇÃO DO HEADER*/


.logo-principal h1 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: 20pt;
    margin: 0 15px 10px 0;
}

.container-header {
    color: #fad000;
    background-color: #2f2e2e;
    display: flex;
    padding: 30px 50px;
    align-items: center;
    
}

.menu-principal ul {
    display: flex;
}

.menu-principal a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Mukta', sans-serif;
    padding: 15px 8px 8px 8px; 
}

a:hover {
    color:  #fad000;
    font-size: 14pt;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
}

.container-nav {
    width: 80%;   
}

.busca-menu {
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    width: 100px;
    height: 26px;
    font-family: 'Mukta', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    transition: .45s ease;
    cursor: pointer;
    border: none;
    margin-left: 80px;
}

.busca-menu,
.busca-button {
    outline: 0;
	border: 1px solid #fad000;
	box-sizing: border-box;
    font-size: 16px;
}

.busca-menu:focus {
    width: 200px;
    background-image: none;
        
}

.nav-icon-busca {
    width: 15%;
    display:flex;
}

.user-icon-box {
    display: inline;
    position: absolute;
    top: 25px;
    right: 70px;
}

.user-icon {
    background-color: #fad000;
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
}

.busca-button {
    border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
    background-image: url(imagens/finder.png);
    background-size: 20px;
    padding: 12px 12px 14px 12px;
    height: 5px;
    border: none;
    background-repeat: no-repeat;
    background-color: #fad000;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    cursor: pointer;
}



/* ESTILIZAÇÃO DO CONTEUDO PRINCIPAL*/

body {
    background-color: rgb(57,56,56);
    color: #FFFFFF;
    font-family: 'Mukta', sans-serif;
    font-weight: bolder;
}

.banner-principal {
    display:flex;
    justify-content: center;
}

.text-catalogo {
    padding: 20px 40px;
    font-size: 20pt;
}

.filmes-principais {
    display: flex;
    justify-content: center;
}

.filmes-principais img {
    padding: 8px;
    border-radius: 15px;
}
img {
    cursor: pointer;
}





/* ESTILIZAÇÃO DO RODAPE */


.icones-rodape {
    padding: 10px;
    background-color: #2f2e2e;
}

.icones-rodape ul {
    display: flex;
    justify-content: center;
}

.icon-rodape {
    margin-right: 20px;
    border-radius: 50%;
    padding: 6px;
    background-color: #fad000;
    cursor: pointer;
    margin-top:9px;
}
.ecopy {
    margin-right: 20px;
    padding: 6px;
    margin-top:9px;
}
